<div class="public-classes widget">
  <h3 class="widget-title" style="margin-bottom: 20px;">{{labels.widget_title}}</h3>
  <p>{{labels.no_public_classes_message}}</p>
  <a href="/course-calendar/" class="button">{{labels.no_public_classes_button_label}}</a>
</div>
