<div class="public-classes widget">
  <h3 class="widget-title" style="margin-bottom: 20px;">Public Classes</h3>

  <p style="font-size: 18px; font-family: futura-pt, Futura, sans-serif;">Currently, we don't have any public sessions of this course scheduled. Please <a href="mailto:info@netmind.net?subject={{title}} - Public Class Inquiry">let us know</a> if you are interested in adding a session.</p>
  <a href="/course-calendar/" class="button" style="font-size: 15px; font-family: futura-pt, Futura, sans-serif; padding: 12px 24px; background-color: #009ee0; color: #fff; border-radius: 0;">See Public Class Schedule</a>
</div>
